## Imports

In [1]:
import pandas as pd
import re

In [2]:
fn = '../data/sama_tweets_2.csv'

In [3]:
tweets_df = pd.read_csv(fn, sep=';@;')

/opt/miniconda3/envs/hercule/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [4]:
tweets_df.shape

(225, 9)

In [5]:
tweets_df.head(3)

,author,created_at,text,source,coord,geo,lang,fav_cnt,rt_cnt
0,sama,Fri 2023-04-14 23:48:08,@WSJ ðŸ¤£,Twitter for iPhone,None,None,qme,4984.0,128.0
1,sama,Fri 2023-04-14 23:47:30,@WSJ Concerning,Twitter for iPhone,None,None,en,12179.0,579.0
2,sama,Sun 2023-04-09 01:41:27,the new podcast from @jesslivingston and @cjon...,Twitter for Mac,None,None,en,655.0,54.0

In [6]:
created_dates = tweets_df['created_at'].to_list()
texts = tweets_df['text'].to_list()

In [7]:
texts[2]

'the new podcast from @jesslivingston and @cjoneslevy is great: https://t.co/5gk877x2Yb'

## Cleaner

In [8]:
def clean(text):
    cleaned_text = re.sub(r'https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)
    # cleaned_text = re.sub(r"http\S+?", "", text)
    cleaned_text = re.sub(r'@\w+', '', cleaned_text).strip()
    return cleaned_text

In [9]:
clean(texts[2])

'the new podcast from  and  is great:'

In [10]:
cleaned_texts = []

for txt in texts:
    if txt:
        clean_txt = clean(txt)
        if len(clean_txt.split()) < 10:
            continue
        if clean_txt == 'None':
            continue
        elif clean_txt and txt.startswith('RT'):
            continue
        else:
            cleaned_texts.append(clean_txt)
            # print(clean_txt)

In [11]:
len(cleaned_texts)

122

In [12]:
cleaned_texts[10]

'ok i admit it feels very cool to read the first part of this:'

In [14]:
df = pd.DataFrame(data={"tweet": cleaned_texts})

In [15]:
out_fn = '../data/cleaned_sama_tweets.csv'

df.to_csv(out_fn, sep=',', index=False)